.nav_top * {
	color: white;
}
.nav_top {
	height: 60px;
	background-color: #131921;
	padding: 5px;
	display: flex;
	align-items: center;
}

.nav_left {
	display: flex;
	margin-right: 5px;
}

.logo {
	width: 120px;
	height: 45px;
}

.pin {
	width: 22px;
	align-self: flex-end;
}

.location {
	display: flex;
	align-items: center;
	padding: 7px 2px 7px 2px;
	margin-right: 5px;
}

.hello_address {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.hello_address span:first-child {
	font-size: 12px;
	line-height: 14px;
}

.hello_address span:last-child {
	font-size: 14px;
	line-height: 15px;
	font-weight: 700;
}

.logo:hover,
.location:hover {
	border: 1px solid white;
	cursor: pointer;
}

.search {
	height: 40px;
	background-color: white;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	flex: 1 1 0px;
	align-self: center;
	margin-right: 5px;
}

.search:focus-within {
	outline: #eca84e solid 3px;
}

.input_container {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

.nav_search_input {
	width: 100%;
	height: 100%;
	border: none;
	cursor: text;
	padding: 8px;
}

.nav_search_input:focus {
	outline: none;
}

.search * {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search_left {
	background-color: #f3f3f3;
	border-radius: 4px 0 0 4px;
	min-width: 40px;
	font-size: 12px;
	border-right: 1px solid rgb(137, 137, 137);
}

.search_right {
	width: 45px;
	height: auto;
	background-color: #febd69;
	border-radius: 0 4px 4px 0;
	font-size: 12px;
}

.search_right img {
	width: 65%;
}

.lang {
	display: flex;
	position: relative;
	align-items: center;
	padding: 5px 10px 5px 10px;
}
.lang img {
	width: 23px;
	margin-right: 5px;
}
.lang span {
	font-weight: 700;
}

.hello_profile {
	position: relative;
	/* width: 120px; */
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	padding: 5px 10px 5px 10px;
}
.hello_profile div:first-child {
	font-size: 12px;
}
.hello_profile div:last-child {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.2px;
}

.returns_orders {
	padding: 5px 10px 5px 10px;
}

.returns_orders div:first-child {
	font-size: 12px;
}

.returns_orders div:last-child {
	font-size: 16px;
}

.cart_container {
	width: 50px;
}

.cart_container img {
	width: 50px;
}
