.container {
	min-width: 1000px;
	display: flex;
	flex-direction: column;
}
.container * {
	color: white;
}

.nav_top {
	height: 60px;
	background-color: #131921;
	padding: 5px;
	display: flex;
}

.nav_left {
	display: flex;
	margin-right: 5px;
}

.logo {
	background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
	background-position: 0 410px;
	width: 120px;
	height: 50px;
}

.pin {
	background-image: url(https://m.media-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
	background-position: -70px -378px;
	width: 22px;
	height: 22px;
	align-self: flex-end;
	/* border: 1px solid white; */
}

.location {
	display: flex;
	align-items: center;
	padding: 7px 2px 7px 2px;
	margin-right: 5px;
}

.hello_address {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.hello_address span:first-child {
	font-size: 12px;
	line-height: 14px;
}

.hello_address span:last-child {
	font-size: 14px;
	line-height: 15px;
	font-weight: 700;
}

.logo:hover,
.location:hover {
	border: 1px solid white;
	cursor: pointer;
}

.search {
	height: 40px;
	background-color: white;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	flex: 1 1 0px;
	align-self: center;
	margin-right: 5px;
}

.search * {
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search_left {
	background-color: #f3f3f3;
	border-radius: 4px 0 0 4px;
	min-width: 40px;
	font-size: 12px;
}

.search_right {
	width: 45px;
	height: auto;
	background-color: #febd69;
	border-radius: 0 4px 4px 0;
	font-size: 12px;
}

.lang {
	display: flex;
	position: relative;
	align-items: center;
	padding: 5px;
}
.lang img {
	width: 23px;
	margin-right: 5px;
}
.lang span {
	font-weight: 700;
}

.nav_links {
	display: flex;
	height: 39px;
	background-color: #232f3e;
	width: 100%;
	padding: 5px;
}

.nav_other {
	display: none;
}
