.container {
	min-width: 1000px;
	display: flex;
	flex-direction: column;
}
.container * {
	color: white;
}

.nav_links {
	display: flex;
	height: 39px;
	background-color: #232f3e;
	width: 100%;
	padding: 5px;
}

.nav_other {
	display: none;
}
